:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --nav-color: #515da5;
  --nav-hover-color: #e8ebf4;
  --active-color: #7c85bc;
  --header-color: #25167A;
  --footer-color: #000000;
  --footer-background-color: #000000;
  --footer-text-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index {
  height: 100%;
  margin: 0;
}

.aboveNav {
  padding: 10px;
  background-color: var(--background-color);
}

.aboveNav>figure {
  height: 100%;
  display: inline;
}

.aboveNav>figure>img {
  height: 30px;
  width: 30px;
}

.aboveNav>h1 {
  height: 100%;
  display: inline;
}

/* ------- section for navigation ------- */

nav {
  padding: 1% 10%;
  overflow: auto;
  background-color: var(--nav-color);
}

nav>.topnav>li {
  list-style-type: none;
  overflow: hidden;
  margin: 0 5px;
  float: left;
  border-radius: 10px;
}

li a {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: var(--nav-hover-color);
}

li.active>a {
  text-decoration: underline;
}

.topnav>li>a {
  background-color: var(--background-color);
}

.topnav>li.active>a {
  color: var(--text-color);
  background-color: var(--active-color) !important;
}

/* ------- end of navigation section ------- */

.index>.contentContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.index>#contentContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* Breedte van de container aanpassen naar wens */
  background-color: aliceblue;
}

.index>.contentContainer>.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 20%;
}

.index>.contentContainer>.searchContainer>textarea {
  flex: 1;
  padding: 16px;
  font-size: 24px;
}

.index>.contentContainer>.searchContainer>button {
  padding: 16px;
  font-size: 24px;
}

.index>.contentContainer>section {
  min-height: 90px;
}

.index>.contentContainer>section>#PredictionList {
  margin: auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  max-height: 20%;
  width: 80%;
  border-bottom: black solid 1px;
}


.index>.contentContainer>section>section>.PredictionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: auto;
  /* Breedte van elk boekitem aanpassen naar wens */
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.index>.contentContainer>section>section>section>.PredictionInfo {
  position: absolute;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  display: contents;
  flex-wrap: wrap-reverse;
  scroll-behavior: smooth;
  text-align: center;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
  grid-template-columns: auto 1fr;
  gap: 10px;
  border-bottom: black solid 1px;
}

.index>.contentContainer>section>section>section>.PredictionInfo>h3 {
  margin: 0;
}

.index>.contentContainer>section>section>section>.PredictionInfo>p {
  margin: 5px 0;
}


.index>.contentContainer>section>#bookList {
  margin: auto;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  max-height: 50%;
  width: 80%;

  /* Hoogte van twee rijen aanpassen naar wens */
}

.index>.contentContainer>section>.loading {
  margin: auto;
  font-size: 24px;
  width: fit-content;
}

.index>.contentContainer>section>section>.bookItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: auto;
  /* Breedte van elk boekitem aanpassen naar wens */
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.index>.contentContainer>section>section>section>.bookInfo {
  position: absolute;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  display: contents;
  flex-wrap: wrap-reverse;
  scroll-behavior: smooth;
  text-align: center;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.index>.contentContainer>section>section>section>.bookInfo>h3 {
  margin: 0;
}

.index>.contentContainer>section>section>section>.bookInfo>p {
  margin: 5px 0;
}

.index>.contentContainer>section>section>section>.bookInfo>span {
  font-weight: bold;
  margin-right: 5px;
}


.index>.contentContainer>section>section>section>.bookImage {
  width: 50px;
  /* Breedte van de afbeelding aanpassen naar wens */
  height: auto;
  margin-bottom: 10px;
}

.index>.contentContainer>#chatHistoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index>.contentContainer>section>#chatHistory {
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: scroll;
  width: 250px;
  /* Breedte van de chatgeschiedenis aanpassen naar wens */
  height: 100%;
  margin-top: 20px;
}

.index>.contentContainer>section>section>#searchWidthAdjust {
  display: flex;
  flex-direction: row;
  margin: 20px;

}

.index>.contentContainer>section>section>section>.adjustButton {
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px;
}

.lds-roller {
  left: 50%;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000000;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  padding: 10px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 0px;
}